<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
%>

<dialog class="px-5 py-10 dialog dialog-xs dark:bg-black dark:text-white rounded-3">
  <form class="form" data-form="avatar">
    <input type="hidden" value="Аватарка" name="theme">
    <div class="items-center justify-center form-label" data-label="download">
      <div class="mb-5 form-wrapper">
        <div class="w-1/2 mx-auto pack pack-box bg-primary rounded-max">
          <div class="absolute inset-0 flex items-center justify-center">
            <%= icon({id: 'user', className: 'icon text-white dark:text-black text-7xl md:text-8xl', data: false}) %>
          </div>
          <%= picture({src: '', format: '', className: 'image', data: 'data-file="image"', draggable: true}) %>
        </div>
        <span class="form-error" data-error>Пожалуйста, загрузите изображение!</span>
      </div>
      <div class="flex flex-wrap items-center justify-between w-full gap-4">
        <label class="flex-grow btn btn-second btn-lg btn-fill" data-waved="dark">
          <input class="hidden" data-input="file" type="file" name="file[]">
          Загрузить
        </label>
        <button class="flex-grow btn btn-second btn-lg btn-fade btn-contur" data-waved="light" type="button">Удалить</button>
      </div>
    </div>
  </form>
</dialog>