<!-- Карта -->

<!-- <section class="container relative overflow-hidden container-distance bg-grey dark:bg-dark h-96">
  <%= loader %>
  <div class="absolute inset-0 overflow-hidden" id="yandex-map"></div>
</section> -->

<!-- Подвал -->

<!-- <footer class="container flex flex-col flex-wrap items-center justify-between gap-4 pt-4 pb-10 mt-auto bg-black md:flex-row text-second md:pb-4" id="footer">
  <a class="btn btn-white w-36" data-waved="light" draggable="false" href="/">
    <%= picture({src: 'img/pictures/logo', format: 'png', className: 'w-full', data: false}) %>
  </a>
  <address class="text-base leading-tight text-center">​Рождественская набережная, <br> 45/1​5 офис; 3 этаж</address>
  <span class="p-1 text-lg btn btn-second w-max" data-waved="light" data-fancybox-dialog data-type="ajax" data-src="dialogs/dialog-politics.html">Privacy policy</span>
  <div class="text-base font-normal">© <span id="year"></span></div>
  <span class="text-lg">
    Разработка: <a class="underline w-max" draggable="false" href="https://stdkit.ru/" target="_blank">Студия К.И.Т.</a>
  </span>
</footer> -->

</main>

</body>

</html>