<!DOCTYPE html>
<html class="dark" lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <link rel="manifest" href="img/favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <title><%= data.title %></title>
</head>

<body class="dark:bg-dark dark:text-white">

  <main>

    <!-- Прелоадер -->

    <div class="fixed inset-0 z-50 flex flex-col items-center justify-center text-white duration-500 bg-dark" data-preloader>
      <%= preloader %>
    </div>

    <!-- Навигация -->

    <% var nav = ['О нас', 'Блог', 'Новости и события', 'Доставка'] %>

    <section class="container relative z-10 flex items-center justify-between gap-3 py-3 bg-white sm:gap-7 xl:gap-14 dark:bg-dark" data-nav>
      <nav class="items-center justify-between hidden lg:flex gap-14">
        <% _.forEach((nav), (item) => { %>
        <a class="py-1 font-normal rounded btn text-black/70 btn-grey dark:btn-white dark:text-white/70" data-waved="dark" draggable="false" href=""><%= item %></a>
        <% }) %>
      </nav>
      <% for (var i = 0; i < 2; i++) { %>
      <a class="py-1 text-sm text-black rounded btn btn-primary sm:text-base dark:text-white/70 <%= i === 0 ? 'lg:ml-auto' : 'font-normal' %>" data-waved="dark" draggable="false" href="">
        <%= icon({id: i === 0 ? 'basket' : 'wheel', className: 'icon text-2xl text-primary mr-2 sm:mr-3', data: false}) %>
        <% if (i === 0) { %>
        Корзина
        <span class="ml-2 sm:ml-3 opacity-40">(12)</span>
        <% } else { %>
        Личный кабинет
        <% } %>
      </a>
      <% } %>
    </section>

    <!-- Шапка документа -->

    <% var header = ['Академия', 'Подписка', 'Тренировки', 'Магазин'] %>

    <header class="container sticky top-0 left-0 right-0 z-30 flex items-center justify-between gap-4 py-4 duration-300 bg-opacity-0 bg-dark lg:py-6" data-header>
      <button class="rounded-lg btn btn-white lg:hidden" data-sidebar-open="menu" data-waved="dark">
        <%= icon({id: 'burger', className: 'icon text-3xl', data: false}) %>
      </button>
      <a class="flex flex-col items-end w-full mr-auto max-w-32 lg:max-w-44 lg:mr-0" draggable="false" href="">
        <%= picture({src: 'img/pictures/logo-text', format: 'svg', className: 'w-full', data: false}) %>
      </a>
      <nav class="items-center hidden gap-8 lg:flex xl:gap-16">
        <% _.forEach((header), (item) => { %>
        <a class="p-2 rounded-lg btn btn-white" data-waved="dark" draggable="false" href=""><%= item %></a>
        <% }) %>
      </nav>
      <%= themeToggle({icon, className: 'hidden lg:flex'}) %>
      <%= social({icon, small: true, items: ['lightning', 'vk', 'discord']}) %>
    </header>

    <!-- Меню -->

    <% var menu = ['Гоночная академия', 'Персональные тренировки', 'Vdes-подписка', 'Магазин', 'Оплата и доставка', 'Гарантия и возврат', 'О нас'] %>

    <div class="fixed inset-0 z-40 duration-100 group/menu [&[data-sidebar=close]]:invisible [&[data-sidebar=close]]:opacity-0" data-sidebar="close" data-sidebar-resize="lg" id="menu">
      <div class="flex flex-col gap-10 bg-dark shadow-screen overflow-auto w-full max-w-[375px] h-full pt-4 px-4 pb-10 duration-300 group-[[data-sidebar=close]]/menu:invisible group-[[data-sidebar=close]]/menu:opacity-0 group-[[data-sidebar=close]]/menu:-translate-x-full">
        <div class="flex items-center justify-between gap-4">
          <button class="rounded-lg btn btn-white" data-sidebar-close="menu" data-waved="dark">
            <%= icon({id: 'close', className: 'icon text-3xl', data: false}) %>
          </button>
          <a class="flex flex-col items-end w-full mr-auto max-w-32" draggable="false" href="">
            <%= picture({src: 'img/pictures/logo-text', format: 'svg', className: 'w-full', data: false}) %>
          </a>
          <%= themeToggle({icon, className: null}) %>
        </div>
        <nav class="flex flex-col items-start gap-6">
          <% _.forEach((menu), (item) => { %>
          <a class="font-normal btn btn-white" data-waved="light" draggable="false" href=""><%= item %></a>
          <% }) %>
        </nav>
        <div class="flex flex-col gap-4">
          <% for (var i = 0; i < 2; i++) { %>
          <a class="font-normal btn btn-primary btn-fill btn-lg" data-waved="dark" draggable="false" href="">
            <%= icon({id: i === 0 ? 'basket' : 'wheel', className: 'icon text-2xl mr-3', data: false}) %>
            <% if (i === 0) { %>
            Корзина
            <span class="ml-3 opacity-70">(12)</span>
            <% } else { %>
            Личный кабинет
            <% } %>
          </a>
          <% } %>
        </div>
        <div class="flex flex-col items-start gap-6 mt-auto">
          <a class="py-1 text-2xl italic font-black text-white rounded font-alt btn btn-white" data-waved="dark" draggable="false" href="tel: +7 (977) 366-86-17">+7 (977) 366-86-17</a>
          <%= social({icon, small: false, items: ['lightning', 'vk', 'discord', 'email']}) %>
        </div>
      </div>
    </div>