<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="//STDKIT">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <title><%= data.title %></title>
</head>

<body class="dark:bg-black dark:text-white">

  <main>

    <!-- Прелоадер -->

    <div class="fixed inset-0 z-10 flex flex-col items-center justify-center bg-white dark:bg-black duration-5" data-preloader>
      <%= preloader %>
    </div>

    <!-- Прогресс прокрутки страницы -->

    <div class="fixed inset-0 hidden w-0 h-1 lg:block z-4 bg-primary duration-2" data-progress-line></div>

    <!-- Шапка документа -->

    <% var nav = {
      pages: [
        {
          link: 'index.html',
          text: 'Front-page'
        },
        {
          link: 'primary.html',
          text: 'Primary-page'
        },
        {
          link: 'second.html',
          text: 'Second-page'
        }
      ],
      blocks: [
        {
          id: '#header',
          text: 'Header'
        },
        {
          id: '#player',
          text: 'Player'
        },
        {
          id: '#footer',
          text: 'Footer'
        }
      ]
    } %>

    <header class="container fixed top-0 left-0 right-0 flex items-center justify-between gap-5 py-4 bg-black z-3 duration-3" data-header>
      <a class="btn btn-white w-36" data-waved="light" draggable="false" href="/">
        <%= picture({src: 'img/pictures/logo', format: 'png', className: 'w-full', data: false}) %>
      </a>
      <nav class="nav hidden lg:flex items-center justify-between gap-4 w-full max-w-[800px] ml-auto">
        <% _.forEach((nav.pages), (page) => { %>
        <a class="p-1 font-normal uppercase btn btn-second hover:underline underline-offset-4 text-14" data-waved="light" draggable="false" href="<%= page.link %>"><%= page.text %></a>
        <% }) %>
        <div class="relative nav__accordion" data-accordion="hidden" data-accordion-close="scroll">
          <button class="p-1 font-normal uppercase btn btn-second hover:underline underline-offset-4 text-14" data-accordion-toggle data-waved="light">
            Navigation
            <%= icon({id: 'arrow-right', className: 'icon ml-2 ease-linear nav__arrow text-12 duration-3', data: false}) %>
          </button>
          <div class="absolute right-0 w-full bg-white shadow-md nav__items top-16 rounded-2" data-accordion-content>
            <div class="flex flex-col gap-4 p-4">
              <% _.forEach((nav.blocks), (block) => { %>
              <a class="btn btn-gray hover:underline underline-offset-4 text-14" data-waved="dark" data-scroll="top" draggable="false" href="<%= block.id %>"><%= block.text %></a>
              <% }) %>
            </div>
          </div>
        </div>
      </nav>
      <button class="btn btn-second lg:hidden" data-sidebar-open="menu" data-waved="light">
        <%= icon({id: 'burger', className: 'icon text-48', data: false}) %>
      </button>
    </header>

    <!-- Меню -->

    <% var social = ['ok', 'yt', 'inst', 'tw', 'fb', 'vk'] %>

    <div class="fixed inset-0 invisible opacity-0 menu z-6 duration-1" data-sidebar="close" data-sidebar-resize="lg" id="menu">
      <div class="menu__content flex flex-col bg-black bg-opacity-90 invisible opacity-0 overflow-auto backdrop-blur-sm w-full max-w-[375px] h-full duration-3">
        <div class="flex items-center justify-between gap-2 p-4 bg-black menu__head duration-5 delay-3">
          <a class="btn btn-white w-36" data-waved="light" draggable="false" href="/">
            <%= picture({src: 'img/pictures/logo', format: 'png', className: 'w-full', data: false}) %>
          </a>
          <input class="switch switch-toggle" data-theme="toggle" type="checkbox">
          <button class="p-1 btn btn-second" data-sidebar-close="menu" data-waved="light">
            <%= icon({id: 'close', className: 'icon text-white text-24', data: false}) %>
          </button>
        </div>
        <div class="flex flex-col items-start invisible gap-4 px-4 pt-4 pb-10 text-white opacity-0 menu__nav duration-9 delay-5">
          <% _.forEach((nav.pages), (page) => { %>
          <a class="hover:underline underline-offset-4 text-20" draggable="false" href="<%= page.link %>"><%= page.text %></a>
          <% }) %>
          <div class="menu__accordion" data-accordion="hidden" data-accordion-close="click">
            <button class="flex items-center hover:underline underline-offset-4 text-20" data-accordion-toggle>
              Navigation
              <%= icon({id: 'arrow-right', className: 'icon ml-2 ease-linear menu__arrow text-14 opacity-60 duration-3', data: false}) %>
            </button>
            <div data-accordion-content>
              <div class="flex flex-col items-start gap-2 pl-5 mt-2">
                <% _.forEach((nav.blocks), (block) => { %>
                <a class="hover:underline underline-offset-4 text-18" data-scroll="top" draggable="false" href="<%= block.id %>"><%= block.text %></a>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="invisible px-4 pt-4 pb-10 mt-auto opacity-0 menu__footer duration-5 delay-9">
          <div class="flex items-center justify-center gap-4">
            <% for (var i = 0; i < social.length; i++) { %>
            <a class="btn btn-second rounded-max" data-waved="dark" draggable="false" href="javascript: ;">
              <%= icon({id: social[i], className: 'icon text-30', data: false}) %>
            </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <!-- Перетаскиваемое социальное меню -->

    <nav class="fixed bottom-0 flex flex-col items-center justify-center w-48 h-48 pointer-events-none select-none social z-2 rounded-max touch-none" data-social data-draggable>
      <div class="absolute inset-0 overflow-hidden ease-in-out opacity-0 pointer-events-auto social__round bg-primary bg-opacity-30 rounded-max duration-4" data-social-round="hidden">
        <% for (var i = 0; i < social.length; i++) { %>
        <a class="absolute btn btn-second rounded-max" data-social-link data-waved="dark" draggable="false" href="javascript: ;">
          <%= icon({id: social[i], className: 'icon text-30', data: false}) %>
        </a>
        <% } %>
      </div>
      <button class="w-10 h-10 p-1 overflow-hidden shadow-md pointer-events-auto social__btn btn btn-primary btn-contur rounded-max" data-social-button data-waved="light" id="draggable"></button>
    </nav>

    <!-- Переключатель темы -->

    <div class="fixed items-center justify-center hidden p-4 bg-white border border-solid shadow-md theme lg:flex bottom-2 z-5 dark:bg-black rounded-4 border-gray dark:border-white w-max">
      <span class="mr-2 text-14">Темная тема</span>
      <input class="switch switch-toggle" data-theme="toggle" type="checkbox">
    </div>

    <!-- Снежинки -->

    <div class="fixed inset-0 pointer-events-none z-5" data-snow></div>

    <!-- Бегующая кнопка -->

    <div class="fixed running z-4 left-1/2 top-1/2 duration-1" data-running>
      <button class="btn btn-primary btn-lg btn-fill" data-running-button data-waved="light">Поймай меня</button>
    </div>

    <!-- Покупка -->

    <div class="shop fixed z-1 top-2/4 left-0 md:left-auto right-0 md:right-10 bg-white dark:bg-black dark:text-white rounded-4 -translate-y-1/2 shadow-md invisible opacity-0 w-full max-w-[320px] mx-auto p-5 duration-3" data-shop="hidden">
      <div class="flex items-center justify-between mb-4">
        <h4 class="mr-3 font-semibold font-alt text-24">Product in shop</h4>
        <button class="p-1 btn btn-primary rounded-1" data-shop-close data-waved="light">
          <%= icon({id: 'close', className: 'icon text-18', data: false}) %>
        </button>
      </div>
      <div class="flex items-center mb-4">
        <div class="pack pack-box bg-grey rounded-4 w-full max-w-[100px] mr-5">
          <%= loader %>
          <%= picture({src: 'img/pictures/town', format: 'jpg', className: 'image', data: 'data-shop-image'}) %>
        </div>
        <div class="flex flex-col">
          <span class="mb-3 font-bold text-18 md:text-20" data-shop-name>Name 4</span>
          <span class="text-20 md:text-24" data-shop-quantity>4 шт</span>
        </div>
      </div>
      <div class="flex items-end justify-between gap-2">
        <div class="flex flex-col">
          <span class="line-through text-12 md:text-16 opacity-60" data-shop-oldprice>8 000$</span>
          <span class="font-semibold text-20 md:text-24" data-shop-price>7 000$</span>
        </div>
        <button class="px-10 btn btn-second btn-lg btn-fade" data-waved="dark">shop</button>
      </div>
    </div>

    <!-- Плавная прокрутка -->

    <div id="smooth-scroll" data-smooth-speed="4">

      <!-- Умное меню -->

      <nav class="container <%= data.status ? '' : 'hidden' %> relative z-1 py-4 duration-6 anim anim-down" data-anim="hidden">
        <div class="flex items-center justify-between w-full max-w-full" data-smart>
          <h2 class="font-bold font-alt text-18" data-smart-title>Smart-menu items</h2>
          <ul class="flex justify-between gap-3" data-smart-length>
            <% for (var i = 1; i < 9; i++) { %>
            <li>
              <button class="font-semibold shadow-md btn btn-primary btn-lg btn-light dark:bg-dark min-w-max" data-waved="dark">Smart-menu item <%= i %></button>
            </li>
            <% } %>
          </ul>
          <div class="relative min-w-max" data-smart-nav data-accordion="hidden" data-accordion-close="scroll">
            <a class="btn btn-primary btn-lg btn-fill" data-accordion-toggle data-bubbles="hidden" draggable="false" href="javascript: ;">
              more <span class="ml-1" data-smart-count>0</span>
            </a>
            <div class="absolute right-0 bg-white shadow-md top-12 dark:bg-opacity-0 rounded-2 w-52" data-accordion-content>
              <ul class="flex flex-col gap-3 p-3" data-smart-list></ul>
            </div>
          </div>
        </div>
      </nav>