<section class="container container-distance flex flex-col items-center justify-center bg-grey dark:bg-dark min-h-[250px] py-0" id="header">
  <div class="relative flex flex-col items-center justify-center flex-grow w-full h-full py-5">
    <div class="absolute left-0 flex items-center gap-1 top-5 text-14">
      <a class="hover:underline underline-offset-4" draggable="false" href="/">Main</a>>
      <span class="pointer-events-none opacity-60"><%= data.title %></span>
    </div>
    <h1 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend"><%= data.title %></h1>
    <a class="btn btn-primary btn-lg btn-fill btn-glow w-full max-w-[200px] mx-auto" data-waved="light" data-scroll="top" draggable="false" href="#content">Show more</a>
  </div>
</section>