<% var compositions = [
  {
    artist: 'Slipknot',
    song: 'Snuff'
  },
  {
    artist: 'System of a down',
    song: 'Lonely Day'
  },
  {
    artist: 'Scorpions',
    song: 'Slave Me'
  }
] %>

<section class="container player container-xs bg-grey dark:bg-dark" data-player="random" id="player">
  <dialog class="p-5 dialog dialog-xs dark:bg-black dark:text-white rounded-3 md:p-10" id="playlist">
    <h4 class="mb-6 font-bold text-center font-alt text-30">Playlist</h4>
    <div class="flex flex-col gap-4">
      <% for (var i = 0; i < compositions.length; i++) { %>
      <div class="flex items-center gap-2">
        <button class="w-10 h-10 btn btn-primary btn-fade text-36 rounded-max" data-player-composition="<%= i %>" data-waved="dark">
          <%= icon({id: 'loading', className: 'icon hidden player__loading', data: 'data-player-loading'}) %>
          <%= icon({id: 'play', className: 'icon', data: 'data-player-status'}) %>
        </button>
        <div class="flex flex-col">
          <span class="font-semibold text-20"><%= compositions[i].artist %></span>
          <span class="text-16 opacity-70"><%= compositions[i].song %></span>
        </div>
      </div>
      <% } %>
    </div>
  </dialog>
  <div class="flex flex-col items-center justify-center bg-white dark:bg-black shadow-md rounded-6 w-full max-w-[500px] mx-auto py-6 px-2 md:px-6 anim anim-up" data-anim="hidden" data-player-controls>
    <div class="pack pack-box bg-grey dark:bg-dark rounded-max w-full max-w-[250px] mb-5 md:md-8">
      <%= loader %>
      <%= picture({src: '', format: '', className: 'image', data: 'data-player-poster'}) %>
    </div>
    <h3 class="font-bold leading-4 text-center font-alt text-24 md:text-30" data-player-artist></h3>
    <h4 class="mb-6 font-medium text-center text-16 md:text-24" data-player-song></h4>
    <audio class="hidden" data-player-audio src=""></audio>
    <div class="w-full px-3 py-5 bg-grey dark:bg-dark rounded-4 md:px-5">
      <div class="relative w-full h-1 mb-3 pointer-events-auto bg-gray rounded-6" data-player-progress>
        <div class="absolute top-0 bottom-0 left-0 h-full player__range bg-primary text-primary rounded-6" data-player-range></div>
      </div>
      <div class="flex items-center justify-between gap-4">
        <button class="p-1 btn btn-primary btn-fade rounded-1" data-waved="dark" data-fancybox-dialog data-src="#playlist">
          <%= icon({id: 'burger', className: 'icon text-24', data: false}) %>
        </button>
        <span class="hidden w-12 md:block text-18" data-player-start></span>
        <button class="w-10 h-10 btn btn-primary btn-fade rounded-max" data-player-prev data-waved="dark">
          <%= icon({id: 'arrow-prev', className: 'icon text-20', data: false}) %>
        </button>
        <button class="w-10 h-10 btn btn-primary btn-fade text-36 rounded-max" data-player-play data-waved="dark">
          <%= icon({id: 'loading', className: 'icon hidden player__loading', data: 'data-player-loading'}) %>
          <%= icon({id: 'play', className: 'icon', data: 'data-player-status'}) %>
        </button>
        <button class="w-10 h-10 btn btn-primary btn-fade rounded-max" data-player-next data-waved="dark">
          <%= icon({id: 'arrow-next', className: 'icon text-20', data: false}) %>
        </button>
        <span class="hidden w-12 md:block text-18" data-player-end></span>
        <button class="p-2 btn btn-primary btn-fade rounded-max" data-player-volume="on" data-waved="dark">
          <%= icon({id: 'volume-on', className: 'icon', data: false}) %>
        </button>
      </div>
    </div>
  </div>
</section>