<section class="container overflow-hidden setups">
  <%= title({className: 'gradient-text-dark mb-8 sm:mb-12 lg:mb-16 duration-500 anim anim-up', data: 'data-anim="hidden"', text: 'Наши сетапы авто'}) %>
  <div class="relative text-white setups-slider">
    <div class="overflow-visible swiper">
      <div class="swiper-wrapper">
        <% for (var i = 0; i < 6; i++) { %>
        <div class="h-auto swiper-slide setups-slide before:content-auto before:absolute before:-left-1/2 before:top-0 before:bottom-0 before:h-full before:w-1/2 before:opacity-0 before:invisible before:duration-200 before:pointer-events-none after:content-auto after:absolute after:-right-1/2 after:top-0 after:bottom-0 after:h-full after:w-1/2 after:opacity-0 after:invisible after:duration-200 after:pointer-events-none">
          <div class="card h-full sm:overflow-visible min-h-[400px] xs:min-h-[500px] setups__card">
            <div class="absolute inset-0 overflow-hidden rounded-xl">
              <%= loader %>
              <%= picture({src: 'img/pictures/road-bg', format: 'jpg', className: 'image', data: false}) %>
            </div>
            <%= picture({src: 'img/pictures/car', format: 'png', className: 'setups__image block absolute right-0 top-16 xs:top-28 w-full max-w-none duration-200', data: false}) %>
            <div class="relative h-full px-4 py-6 sm:px-6 lg:px-8 sm:py-8 card-content">
              <div class="flex items-center gap-4">
                <%= picture({src: 'img/pictures/mark', format: 'png', className: 'block max-w-24 max-h-10', data: false}) %>
                <span class="w-px h-6 bg-white/40"></span>
                <%= picture({src: 'img/pictures/logo-white', format: 'svg', className: 'w-28', data: false}) %>
              </div>
              <div class="mt-auto duration-200 setups__content">
                <h3 class="mb-2 text-sm italic font-bold leading-normal ms:mb-4 font-alt">Сетапы для Assetto Corsa Competizione</h3>
                <ul class="flex flex-col gap-1 sm:gap-2">
                  <% for (var j = 0; j < 3; j++) { %>
                  <li class="text-sm font-normal leading-tight">
                    <b class="opacity-40">Автомобиль:</b> Lamborgini
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <%= swiperPagination({className: 'text-black/20 dark:text-white/20'}) %>
    <%= swiperButtonPrev({icon, className: '-left-8 lg:left-40'}) %>
    <%= swiperButtonNext({icon, className: '-right-8 lg:right-40'}) %>
  </div>
  <% if (button) { %>
  <div class="flex items-center justify-center mt-6 sm:mt-10">
    <a class="btn btn-primary btn-lg btn-fill" data-waved="light" draggable="false" href="">Посмотреть все сетапы</a>
  </div>
  <% } %>
</section>