:root {
  --tw-font-alt  : "Circe", Arial, sans-serif;
  --tw-font-base : "SF Pro Display", Helvetica, sans-serif;
  --tw-content-xs: calc(theme(screens.xs) - 32.98px);
  --tw-content-sm: calc(theme(screens.sm) - 35.98px);
  --tw-content-md: calc(theme(screens.md) - 47.98px);
  --tw-content-lg: calc(theme(screens.lg) - 51.98px);
  --tw-content-xl: calc(theme(screens.xl) - 245.98px);
}

* {
  -webkit-tap-highlight-color: transparent;

  @apply m-0 p-0;

  scrollbar: {
    width: thin;
    color: theme("colors.primary.DEFAULT") theme("colors.black.DEFAULT");
  }
}

html {
  font-size: 16px !important;
}

body {
  @apply bg-white font-base text-black;
}

main {
  @apply flex flex-col min-h-screen;
}

::selection {
  @apply text-white bg-primary;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  &:empty {
    @apply hidden;
  }
}

ul {
  @apply list-none list-outside;
}

ol {
  @apply list-decimal list-inside;
}

picture {
  @apply static;
}

img {
  @apply select-none;

  &:is([src=""], [src="/"]) {
    @apply hidden;
  }
}

dialog {
  @apply static border-none w-auto h-auto;
}

address {
  @apply not-italic;
}

q {
  quotes: "\201c""\201E";
}

a,
button,
input,
textarea,
select {
  @apply outline-0;
}

textarea {
  @apply overflow-auto resize-none;
}

select {
  @apply appearance-none;
}