.btn-swipe {
  z-index: 1;

  &::before {
    background-color: var(--btn-color);
    z-index         : -1;

    @apply content-auto absolute top-0 left-auto right-0 bottom-0 w-0 ease-in-out duration-300;
  }

  @apply overflow-hidden;

  @media(hover) {
    &:hover {
      color: var(--btn-accent);

      &::before {
        @apply left-0 w-full;
      }

      @apply bg-transparent;
    }
  }
}