.btn-glow {
  z-index: 1;

  &::before {
    animation: glowing 20s linear infinite;
    z-index  : -1;

    @apply content-auto absolute -inset-1 opacity-0 rounded-inherit blur-sm ease-in-out duration-300;

    background: {
      image: linear-gradient(120deg, #ff304f, #581b98, #482ff7, #fc5185, #17b978, #ea5455, #2b1de8, #dd00f3);
      size : 400%;
    }
  }

  &::after {
    background-color: var(--tw-btn-color);
    z-index         : -1;

    @apply content-auto absolute inset-0 rounded-inherit ease-in-out duration-300;
  }

  @media(hover) {
    &:hover::before {
      @apply opacity-100;
    }
  }
}

@keyframes glowing {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }
}