@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Regular.eot");
  src        : local("RF Dewi Condensed Regular"), local("RFDewiCondensed-Regular"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Regular.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 900;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Black.eot");
  src        : local("RF Dewi Expanded Black"), local("RFDewiExpanded-Black"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Black.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Black.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 200;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Ultralight.eot");
  src        : local("RF Dewi Ultralight"), local("RFDewi-Ultralight"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultralight.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultralight.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 800;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Ultrabold.eot");
  src        : local("RF Dewi Ultrabold"), local("RFDewi-Ultrabold"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultrabold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultrabold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Ultrabold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 900;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Black.eot");
  src        : local("RF Dewi Black"), local("RFDewi-Black"),
    url("../fonts/RFDewiExpanded/RFDewi-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Black.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Black.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 800;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultrabold.eot");
  src        : local("RF Dewi Condensed Ultrabold"), local("RFDewiCondensed-Ultrabold"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultrabold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultrabold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultrabold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultrabold.eot");
  src        : local("RF Dewi Expanded Ultrabold"), local("RFDewiExpanded-Ultrabold"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultrabold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultrabold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultrabold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 300;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-LightItalic.eot");
  src        : local("RF Dewi Light Italic"), local("RFDewi-LightItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-LightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-LightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Regular.eot");
  src        : local("RF Dewi Regular"), local("RFDewi-Regular"),
    url("../fonts/RFDewiExpanded/RFDewi-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Regular.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Regular.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Bold.eot");
  src        : local("RF Dewi Extended Bold"), local("RFDewiExtended-Bold"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Bold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Bold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 600;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Semibold.eot");
  src        : local("RF Dewi Semibold"), local("RFDewi-Semibold"),
    url("../fonts/RFDewiExpanded/RFDewi-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Semibold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Semibold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 900;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-BlackItalic.eot");
  src        : local("RF Dewi Expanded Black Italic"), local("RFDewiExpanded-BlackItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BlackItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BlackItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 100;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-ThinItalic.eot");
  src        : local("RF Dewi Condensed Thin Italic"), local("RFDewiCondensed-ThinItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-ThinItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-ThinItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 300;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Light.eot");
  src        : local("RF Dewi Extended Light"), local("RFDewiExtended-Light"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Light.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Light.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 900;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Black.eot");
  src        : local("RF Dewi Extended Black"), local("RFDewiExtended-Black"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Black.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Black.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Regular.eot");
  src        : local("RF Dewi Extended Regular"), local("RFDewiExtended-Regular"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Regular.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Regular.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Bold.eot");
  src        : local("RF Dewi Bold"), local("RFDewi-Bold"),
    url("../fonts/RFDewiExpanded/RFDewi-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Bold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Bold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 600;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Semibold.eot");
  src        : local("RF Dewi Condensed Semibold"), local("RFDewiCondensed-Semibold"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Semibold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Semibold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 900;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Black.eot");
  src        : local("RF Dewi Condensed Black"), local("RFDewiCondensed-Black"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Black.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Black.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Black.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 200;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-UltralightItalic.eot");
  src        : local("RF Dewi Ultralight Italic"), local("RFDewi-UltralightItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-UltralightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-UltralightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-UltralightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-UltralightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 200;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-UltralightItalic.eot");
  src        : local("RF Dewi Extended Ultralight Italic"), local("RFDewiExtended-UltralightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltralightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltralightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltralightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltralightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 800;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-UltraboldItalic.eot");
  src        : local("RF Dewi Extended Ultrabold Italic"), local("RFDewiExtended-UltraboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltraboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltraboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-UltraboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 200;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-UltralightItalic.eot");
  src        : local("RF Dewi Expanded Ultralight Italic"), local("RFDewiExpanded-UltralightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltralightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltralightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltralightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltralightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 800;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-UltraboldItalic.eot");
  src        : local("RF Dewi Condensed Ultrabold Italic"), local("RFDewiCondensed-UltraboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltraboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltraboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltraboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: normal;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Italic.eot");
  src        : local("RF Dewi Extended Italic"), local("RFDewiExtended-Italic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Italic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Italic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 800;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Ultrabold.eot");
  src        : local("RF Dewi Extended Ultrabold"), local("RFDewiExtended-Ultrabold"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultrabold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultrabold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultrabold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 300;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-LightItalic.eot");
  src        : local("RF Dewi Extended Light Italic"), local("RFDewiExtended-LightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-LightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-LightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 100;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Thin.eot");
  src        : local("RF Dewi Extended Thin"), local("RFDewiExtended-Thin"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Thin.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Thin.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 100;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Thin.eot");
  src        : local("RF Dewi Condensed Thin"), local("RFDewiCondensed-Thin"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Thin.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Thin.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: bold;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-BoldItalic.eot");
  src        : local("RF Dewi Expanded Bold Italic"), local("RFDewiExpanded-BoldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BoldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BoldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 600;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Semibold.eot");
  src        : local("RF Dewi Extended Semibold"), local("RFDewiExtended-Semibold"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Semibold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Semibold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: normal;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Regular.eot");
  src        : local("RF Dewi Expanded Regular"), local("RFDewiExpanded-Regular"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Regular.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Regular.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 200;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultralight.eot");
  src        : local("RF Dewi Condensed Ultralight"), local("RFDewiCondensed-Ultralight"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultralight.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultralight.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 600;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-SemiboldItalic.eot");
  src        : local("RF Dewi Extended Semibold Italic"), local("RFDewiExtended-SemiboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-SemiboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 900;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-BlackItalic.eot");
  src        : local("RF Dewi Condensed Black Italic"), local("RFDewiCondensed-BlackItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BlackItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BlackItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: bold;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-BoldItalic.eot");
  src        : local("RF Dewi Bold Italic"), local("RFDewi-BoldItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-BoldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-BoldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 800;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-UltraboldItalic.eot");
  src        : local("RF Dewi Expanded Ultrabold Italic"), local("RFDewiExpanded-UltraboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltraboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltraboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-UltraboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 100;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Thin.eot");
  src        : local("RF Dewi Expanded Thin"), local("RFDewiExpanded-Thin"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Thin.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Thin.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 600;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Semibold.eot");
  src        : local("RF Dewi Expanded Semibold"), local("RFDewiExpanded-Semibold"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Semibold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Semibold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 200;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-UltralightItalic.eot");
  src        : local("RF Dewi Condensed Ultralight Italic"), local("RFDewiCondensed-UltralightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltralightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltralightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltralightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-UltralightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 300;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-LightItalic.eot");
  src        : local("RF Dewi Expanded Light Italic"), local("RFDewiExpanded-LightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-LightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-LightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Bold.eot");
  src        : local("RF Dewi Condensed Bold"), local("RFDewiCondensed-Bold"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Bold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 100;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-ThinItalic.eot");
  src        : local("RF Dewi Expanded Thin Italic"), local("RFDewiExpanded-ThinItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-ThinItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-ThinItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 100;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-ThinItalic.eot");
  src        : local("RF Dewi Thin Italic"), local("RFDewi-ThinItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-ThinItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-ThinItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: normal;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Italic.eot");
  src        : local("RF Dewi Condensed Italic"), local("RFDewiCondensed-Italic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Italic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Italic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 800;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-UltraboldItalic.eot");
  src        : local("RF Dewi Ultrabold Italic"), local("RFDewi-UltraboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-UltraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-UltraboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-UltraboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-UltraboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 300;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Light.eot");
  src        : local("RF Dewi Expanded Light"), local("RFDewiExpanded-Light"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Light.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Light.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: normal;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Italic.eot");
  src        : local("RF Dewi Expanded Italic"), local("RFDewiExpanded-Italic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Italic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Italic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 300;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Light.eot");
  src        : local("RF Dewi Light"), local("RFDewi-Light"),
    url("../fonts/RFDewiExpanded/RFDewi-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Light.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Light.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 600;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-SemiboldItalic.eot");
  src        : local("RF Dewi Expanded Semibold Italic"), local("RFDewiExpanded-SemiboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-SemiboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: bold;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-BoldItalic.eot");
  src        : local("RF Dewi Extended Bold Italic"), local("RFDewiExtended-BoldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BoldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BoldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 100;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Thin.eot");
  src        : local("RF Dewi Thin"), local("RFDewi-Thin"),
    url("../fonts/RFDewiExpanded/RFDewi-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Thin.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Thin.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 900;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-BlackItalic.eot");
  src        : local("RF Dewi Extended Black Italic"), local("RFDewiExtended-BlackItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BlackItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BlackItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: 200;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultralight.eot");
  src        : local("RF Dewi Expanded Ultralight"), local("RFDewiExpanded-Ultralight"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultralight.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultralight.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 300;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-Light.eot");
  src        : local("RF Dewi Condensed Light"), local("RFDewiCondensed-Light"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Light.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Light.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 200;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-Ultralight.eot");
  src        : local("RF Dewi Extended Ultralight"), local("RFDewiExtended-Ultralight"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultralight.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultralight.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-Ultralight.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Extended";
  font-weight: 100;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiExtended-ThinItalic.eot");
  src        : local("RF Dewi Extended Thin Italic"), local("RFDewiExtended-ThinItalic"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-ThinItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-ThinItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExtended-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Expanded";
  font-weight: bold;
  font-style : normal;
  src        : url("../fonts/RFDewiExpanded/RFDewiExpanded-Bold.eot");
  src        : local("RF Dewi Expanded Bold"), local("RFDewiExpanded-Bold"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Bold.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Bold.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiExpanded-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: normal;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-Italic.eot");
  src        : local("RF Dewi Italic"), local("RFDewi-Italic"),
    url("../fonts/RFDewiExpanded/RFDewi-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-Italic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-Italic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 600;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-SemiboldItalic.eot");
  src        : local("RF Dewi Condensed Semibold Italic"), local("RFDewiCondensed-SemiboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-SemiboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: 300;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-LightItalic.eot");
  src        : local("RF Dewi Condensed Light Italic"), local("RFDewiCondensed-LightItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-LightItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi Condensed";
  font-weight: bold;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewiCondensed-BoldItalic.eot");
  src        : local("RF Dewi Condensed Bold Italic"), local("RFDewiCondensed-BoldItalic"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BoldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BoldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewiCondensed-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 900;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-BlackItalic.eot");
  src        : local("RF Dewi Black Italic"), local("RFDewi-BlackItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-BlackItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-BlackItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "RF Dewi";
  font-weight: 600;
  font-style : italic;
  src        : url("../fonts/RFDewiExpanded/RFDewi-SemiboldItalic.eot");
  src        : local("RF Dewi Semibold Italic"), local("RFDewi-SemiboldItalic"),
    url("../fonts/RFDewiExpanded/RFDewi-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RFDewiExpanded/RFDewi-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/RFDewiExpanded/RFDewi-SemiboldItalic.woff") format("woff"),
    url("../fonts/RFDewiExpanded/RFDewi-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Evolventa";
  font-weight: normal;
  font-style : normal;
  src        :
    url("../fonts/Evolventa/Evolventa-Regular.otf") format("opentype"),
    url("../fonts/Evolventa/Evolventa-Regular.woff") format("woff"),
    url("../fonts/Evolventa/Evolventa-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Evolventa";
  font-weight: normal;
  font-style : italic;
  src        :
    url("../fonts/Evolventa/Evolventa-Oblique.otf") format("opentype"),
    url("../fonts/Evolventa/Evolventa-Oblique.woff") format("woff"),
    url("../fonts/Evolventa/Evolventa-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "Evolventa";
  font-weight: bold;
  font-style : normal;
  src        :
    url("../fonts/Evolventa/Evolventa-Bold.otf") format("opentype"),
    url("../fonts/Evolventa/Evolventa-Bold.woff") format("woff"),
    url("../fonts/Evolventa/Evolventa-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Evolventa";
  font-weight: bold;
  font-style : italic;
  src        :
    url("../fonts/Evolventa/Evolventa-BoldOblique.otf") format("opentype"),
    url("../fonts/Evolventa/Evolventa-BoldOblique.woff") format("woff"),
    url("../fonts/Evolventa/Evolventa-BoldOblique.ttf") format("truetype");
}