.loader {
  @apply flex items-center justify-center absolute inset-0 pointer-events-none;

  &-progress {
    animation: progress 1.8s linear infinite;

    @apply text-4xl text-primary;
  }

  &-icon {
    animation: loader 1.5s ease-in-out infinite;
  }
}

.preloader {
  @apply flex flex-col items-center justify-center;

  &-wheel {
    animation: progress 800ms linear infinite;

    @apply w-48;
  }

  &-text {
    @apply font-medium leading-none text-2xl mt-7;
  }
}

@keyframes progress {
  to {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    stroke: {
      dasharray : 1px, 200px;
      dashoffset: 0;
    }
  }

  50% {
    stroke: {
      dasharray : 100px, 200px;
      dashoffset: -15px;
    }
  }

  100% {
    stroke: {
      dasharray : 100px, 200px;
      dashoffset: -125px;
    }
  }
}