.movement {
  &[data-movement="light"] {
    &::after {
      background-image: radial-gradient(circle closest-side, theme("colors.white.DEFAULT"), transparent);

      @apply opacity-30;
    }

    @media(hover) {
      &:hover::after {
        @apply w-60 h-60;
      }
    }
  }

  &[data-movement="blend"] {
    &::after {
      @apply bg-white rounded-full mix-blend-difference;
    }

    @apply relative;

    @media(hover) {
      &:hover::after {
        @apply w-16 h-16;
      }
    }
  }

  &::after {
    transform : translate(-50%, -50%) translate(var(--x), var(--y));
    transition: width 0.3s ease, height 0.3s ease;
    z-index   : 1;

    @apply content-auto absolute top-0 left-0 pointer-events-none w-0 h-0;
  }
}