<div class="h-full border border-solid card gradient-card bg-dark border-white/20">
  <a class="pack pack-md rounded-xl bg-grey <%= swipe ? 'swiper-no-swiping' : '' %>" data-waved="light" draggable="false" href="">
    <%= loader %>
    <%= picture({src: 'img/pictures/test', format: 'jpg', className: 'image image-rise', data: false}) %>
  </a>
  <div class="gap-4 px-4 py-6 sm:px-6 card-content">
    <h3 class="text-base italic font-bold leading-tight font-alt">В чём проблема выхода Gran Turizmo 7 на ПК?</h3>
    <b class="text-sm leading-none text-primary">13 июн</b>
    <p class="text-sm font-normal leading-normal">
      С начала года мы слышали инсайды о портировании трёх игр с PS5 на ПК: Ghost of Tsushima, God of War Ragnarok и Gran Turismo 7. Первая уже вышла, вторая получила официальную дату выхода, и теперь есть некоторая реальная надежда на выход GT7 в обозримом будущем.
    </p>
    <div class="flex mt-auto">
      <a class="text-sm btn btn-primary <%= swipe ? 'swiper-no-swiping' : '' %>" data-waved="light" draggable="false" href="">Читать полностью</a>
    </div>
  </div>
</div>