<a class="bg-white/5 group card hover:-translate-y-4 h-full min-h-80 lg:min-h-[400px] border border-solid border-white/20" data-waved="light" draggable="false" href="">
  <div class="h-full p-4 card-content">
    <div class="h-full rounded-lg pack sm:rounded-2xl bg-grey">
      <%= loader %>
      <%= picture({src: 'img/pictures/test', format: 'jpg', className: 'image group-hover:scale-110 duration-200', data: false}) %>
      <div class="absolute inset-0 flex flex-col items-center justify-end px-4 py-6 text-center text-white sm:py-8 lg:py-12">
        <h3 class="font-alt font-black text-xl md:text-2xl leading-[1.5_!important] gradient-text italic mb-2">Подписка</h3>
        <p class="text-sm font-normal leading-tight opacity-60">3-х месячный курс групповых тренировок</p>
      </div>
    </div>
  </div>
</a>