<%
  var data = {
    title: 'Блог VDES',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader =  _.template(require('./components/preloader.html').default)({picture})
  var themeToggle =  _.template(require('./components/theme-toggle.html').default)
  var social =  _.template(require('./components/social.html').default)
  var cardBlog = _.template(require('./components/card-blog.html').default)
  var pagination = _.template(require('./components/pagination.html').default)
  var header = _.template(require('./includes/header.html').default)({data, loader, preloader, icon, picture, themeToggle, social})
  var primal = _.template(require('./includes/primal.html').default)
  var footer = _.template(require('./includes/footer.html').default)({data, loader, icon, picture, social})
%>

<%= header %>

<!-- Первоначальный блок -->

<%= primal({data, loader, picture, small: true, src: 'img/pictures/blog-bg', subtitle: 'Все актуальные события здесь ', images: false}) %>

<!-- <%= data.title %> -->

<section class="container text-white">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 sm:gap-6">
    <% for (var i = 0; i < 9; i++) { %>
    <div class="sticky top-0 left-0 right-0 md:static">
      <%= cardBlog({loader, picture, swipe: false}) %>
    </div>
    <% } %>
  </div>
  <%= pagination({icon}) %>
</section>

<%= footer %>