<%
  var data = {
    title: 'Virtual Driving e-Sport',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var preloader =  _.template(require('./components/preloader.html').default)({picture})
  var themeToggle =  _.template(require('./components/theme-toggle.html').default)
  var social =  _.template(require('./components/social.html').default)
  var cardNav =  _.template(require('./components/card-nav.html').default)({loader, picture})
  var title = _.template(require('./components/title.html').default)
  var header = _.template(require('./includes/header.html').default)({data, loader, preloader, icon, picture, themeToggle, social})
  var primal = _.template(require('./includes/primal.html').default)
  var footer = _.template(require('./includes/footer.html').default)({data, loader, icon, picture, social})
%>

<%= header %>

<!-- Первоначальный блок -->

<%= primal({data, loader, picture, small: false, src: 'img/pictures/front-bg', subtitle: 'Соревнования, обучение, оборудование', images: true}) %>

<!-- Навигация -->

<section class="container xl:px-8 pt-0 pb-4 xl:pb-0 xl:-mt-[440px] bg-dark xl:bg-opacity-0">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-4">
    <% for (var i = 0; i < 4; i++) { %>
    <div class="duration-500 anim anim-up" data-anim="hidden">
      <%= cardNav %>
    </div>
    <% } %>
  </div>
</section>

<!-- Ты станешь чемпионом -->

<% var champ = [
  {
    id: 'points',
    title: '<span class="text-primary">Ускорение</span> темпов <br class="hidden xl:block"> развития навыков',
    text: 'Научим быстрее достигать <br class="hidden xl:block"> поставленных целей <br class="hidden xl:block"> и успешно конкурировать <br class="hidden xl:block"> на гоночном треке'
  },
  {
    id: 'diamonds',
    title: '<span class="text-primary">Постоянное</span> общение <br class="hidden xl:block"> с опытными тренерами',
    text: 'Такое общение позволяет <br class="hidden xl:block"> учиться у профессионалов, <br class="hidden xl:block"> получать обратную связь, <br class="hidden xl:block"> обмениваться опытом'
  },
  {
    id: 'squares',
    title: '<span class="text-primary">Удобный график</span> групповых <br class="hidden xl:block"> и персональных занятий',
    text: 'Ввы можете перенести занятия <br class="hidden xl:block"> если у вас изменились планы, <br class="hidden xl:block"> но не забудьте предупредить <br class="hidden xl:block"> тренера за 24 часа!'
  },
  {
    id: 'listing',
    title: '<span class="text-primary">Помощь</span> в настройке <br class="hidden xl:block"> графики, звука, FFB',
    text: 'Поможем настроить <br class="hidden xl:block"> оборудование, графику, <br class="hidden xl:block"> звук и FFB так, чтобы вы <br class="hidden xl:block"> идеально чувствовали авто'
  }
] %>

<section class="container">
  <%= title({className: 'text-gradient-dark mb-8 sm:mb-12 lg:mb-16 duration-500 anim anim-up', data: 'data-anim="hidden"', text: 'Ты станешь чемпионом'}) %>
  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 xl:flex xl:justify-between xl:gap-10">
    <% _.forEach((champ), (item) => { %>
    <div class="flex duration-500 sm:flex-col gap-7 sm:gap-10 anim anim-up" data-anim="hidden">
      <div class="relative">
        <%= icon({id: 'dots', className: 'icon text-primary text-8xl absolute top-0 sm:-top-11 left sm:-left-11 hidden dark:block', data: false}) %>
        <%= icon({id: item.id, className: 'icon text-second text-6xl relative', data: false}) %>
      </div>
      <div class="flex flex-col">
        <h3 class="mb-3 text-base italic font-black leading-tight sm:mb-5 font-alt"><%= item.title %></h3>
        <p class="text-sm font-normal leading-normal opacity-60"><%= item.text %></p>
      </div>
    </div>
    <% }) %>
  </div>
</section>

<!-- Опытные тренеры -->

<section class="container coaches">
  <%= title({className: 'text-gradient-dark mb-8 sm:mb-12 lg:mb-16 duration-500 anim anim-up', data: 'data-anim="hidden"', text: 'Опытные тренеры'}) %>
  <div class="grid grid-cols-2 gap-7">
    <div class="">
      <div class="h-full card flex-row justify-between gap-6 coaches__card min-h-[400px] bg-black dark:bg-opacity-0 p-2">
        <div class="relative w-full max-w-64">
          <div class="h-full pack bg-grey rounded-xl">
            <%= loader %>
            <%= picture({src: 'img/pictures/test', format: 'jpg', className: 'image', data: false}) %>
          </div>
        </div>
        <div class="w-full py-6 max-w-72"></div>
      </div>
    </div>
  </div>
</section>

<%= footer %>