<%
  var data = {
    title: 'Second page',
    status: false
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon: icon})
  var preloader = require('./components/preloader.html').default
  var header = _.template(require('./includes/header.html').default)
  var heading = _.template(require('./includes/heading.html').default)
  var worldMap = require('./includes/world-map.html').default
  var player = _.template(require('./includes/player.html').default)
  var footer = _.template(require('./includes/footer.html').default)
%>

<%= header({data, loader, preloader, icon, picture}) %>

<!-- Шапка страницы -->

<%= heading({data}) %>

<!-- Сетка -->

<% var grid = ['lg:row-5', 'lg:row-4', 'lg:row-5', 'lg:row-5', 'lg:row-4', 'lg:row-4'] %>

<section class="container flex flex-col items-center justify-center overflow-hidden bg-white dark:bg-black" id="content">
  <h2 class="mb-3 font-bold text-center font-alt text-36 lg:text-48 leading-2 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">GridBox</h2>
  <h3 class="mb-5 font-semibold text-16 md:text-18 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Columns and rows</h3>
  <div class="grid w-full grid-flow-row-dense grid-cols-2 gap-3 lg:grid-cols-3 md:gap-5 lg:gap-8">
    <% for (var i = 0; i < grid.length; i++) { %>
    <div class="<%= grid[i] %> duration-10 anim anim-circle" data-anim="hidden">
      <a class="h-full shadow-md pack pack-box bg-grey dark:bg-dark rounded-3" data-movement="light" data-fancybox="grid" draggable="false" href="img/pictures/town-grey.jpg">
        <%= loader %>
        <%= picture({src: 'img/pictures/town-grey', format: 'jpg', className: 'image image-rise', data: false, draggable: false}) %>
      </a>
    </div>
    <% } %>
  </div>
</section>

<!-- Сравнение -->

<section class="container flex flex-col items-center justify-between container-distance bg-grey dark:bg-dark">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Comparison</h2>
  <div class="relative w-full overflow-hidden bg-grey dark:bg-dark rounded-4 duration-5 anim anim-fade" data-anim="hidden" data-compare>
    <%= loader %>
    <div class="absolute w-1/2 h-full pack pack-half z-1" data-compare-before>
      <%= picture({src: 'img/pictures/town-grey', format: 'jpg', className: 'image', data: 'data-compare-image', draggable: true}) %>
    </div>
    <%= picture({src: 'img/pictures/town', format: 'jpg', className: 'block relative w-full h-full', data: false, draggable: true}) %>
    <div class="flex items-center justify-center absolute top-0 bottom-0 left-2/4 z-2 bg-white dark:bg-black -translate-x-1/2 w-1 h-[95%] my-auto" data-compare-change>
      <button class="btn btn-primary btn-fill rounded-max cursor-col-resize w-12 min-w-[48px] h-12">
        <%= icon({id: 'arrows', className: 'icon text-20', data: false}) %>
      </button>
    </div>
  </div>
</section>

<!-- Сортировка -->

<section class="container flex flex-col items-center justify-center bg-white container-xs dark:bg-black">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Sorting</h2>
  <div class="w-full max-w-xl mx-auto filtering" data-filtering="sorting">
    <div class="relative flex flex-col items-center justify-between gap-0 mb-5 overflow-hidden md:flex-row md:gap-4 bg-grey md:bg-opacity-0 text-second md:text-black dark:text-white rounded-4 md:rounded-none md:border-b md:border-solid md:border-white md:mb-10 md:pb-4 duration-5 anim anim-up" data-anim="hidden">
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category filtering-active text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="all">All</div>
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="primary">Primary</div>
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="second">Second</div>
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="green">Green</div>
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="mix">Mix</div>
      <div class="flex-grow w-full p-4 text-center cursor-pointer filtering__category text-20 md:p-0" data-filtering-category="sorting" data-filtering-value="none">None</div>
      <span class="absolute bottom-0 left-0 hidden h-1 ease-linear md:block bg-primary rounded-t-2 duration-3" data-filtering-line="sorting"></span>
    </div>
    <div class="grid grid-cols-2 gap-5 md:grid-cols-3 md:gap-10">
      <% for (var i = 0; i < 3; i++) { %>
      <div class="py-10 filtering__card bg-primary" data-filtering-card="sorting" data-filtering-value="primary mix"></div>
      <div class="py-10 filtering__card bg-second" data-filtering-card="sorting" data-filtering-value="second"></div>
      <div class="py-10 filtering__card bg-green" data-filtering-card="sorting" data-filtering-value="green mix"></div>
      <% } %>
    </div>
    <div class="uppercase filtering__card text-18 font-alt leading-1" data-filtering-plug="sorting">Empty</div>
  </div>
</section>

<!-- Счетчик -->

<section class="container flex flex-col items-center justify-center container-xs container-distance bg-grey dark:bg-dark">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Counter of time</h2>
  <div class="flex items-center justify-center w-full px-4 bg-white shadow-md dark:bg-black text-primary rounded-6 py-7 md:py-10 md:px-10 duration-5 anim anim-up" data-anim="hidden" data-counter>
    <h3 class="hidden w-full font-semibold text-center font-alt text-20 md:text-30 leading-2" data-counter-subtitle>Times up</h3>
    <div class="flex justify-between w-full gap-4 text-center" data-counter-timer>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Days</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Hours</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Minutes</span>
      </time>
      <time class="flex flex-col items-center justify-center">
        <span class="font-semibold text-24 md:text-30" data-counter-unit>0</span>
        <span class="text-16 md:text-24">Seconds</span>
      </time>
    </div>
  </div>
</section>

<!-- Время -->

<section class="container flex flex-col items-center justify-center bg-white timer container-xs dark:bg-black">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Timer</h2>
  <div class="flex flex-col items-center justify-center relative bg-primary rounded-max w-full max-w-[300px] h-[300px] mx-auto" data-timer>
    <div class="timer__stopwatch flex flex-col items-center absolute top-0 left-0 right-0 text-second origin-bottom pointer-events-none w-0.5 h-1/2 mx-auto ease-in-out duration-1" data-timer-stopwatch></div>
    <time class="mb-5 font-semibold text-center text-white text-24" data-timer-units></time>
    <div class="flex items-center justify-center gap-4">
      <button class="w-10 h-10 btn btn-second btn-fade rounded-max" data-timer-turn data-waved="dark">
        <%= icon({id: 'play', className: 'icon text-36', data: false}) %>
      </button>
      <button class="btn btn-second btn-sm btn-light" data-timer-reset data-waved="dark">Reset</button>
    </div>
  </div>
</section>

<!-- Открытка -->

<section class="container flex flex-col items-center justify-center overflow-hidden container-distance bg-grey dark:bg-dark">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Postcards</h2>
  <div class="flex flex-wrap items-center justify-center w-full gap-10 postcards">
    <% for (var i = 0; i < 3; i++) { %>
    <ul class="postcards-item">
      <% for (var j = 0; j < 9; j++) { %>
      <li class="postcards-particle" data-bg="img/pictures/town.jpg"></li>
      <% } %>
    </ul>
    <% } %>
  </div>
</section>

<!-- Мир -->

<section class="container bg-white dark:bg-black" data-world>
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">World map</h2>
  <div class="p-5 bg-grey dark:bg-dark rounded-5 lg:p-10 duration-5 anim anim-fade" data-anim="hidden" id="country">
    <%= worldMap %>
    <div class="flex items-center justify-center mt-5 md:mt-10">
      <%= picture({src: 'img/pictures/russia', format: 'svg', className: 'block w-10 md:w-12 mr-5', data: 'data-world-flag', draggable: true}) %>
      <h4 class="font-bold text-18 md:text-24" data-world-title>Россия</h4>
    </div>
  </div>
</section>

<!-- Загрузка -->

<section class="container flex flex-col items-center justify-center overflow-hidden container-distance bg-grey dark:bg-dark">
  <h2 class="mb-5 font-bold text-center font-alt text-36 lg:text-48 leading-2 md:mb-10 duration-5 anim anim-up" data-anim="hidden" data-movement="blend">Preloaders</h2>
  <div class="flex flex-wrap items-center justify-between w-full gap-5">
    <div class="preloader preloader--circles">
      <div class="preloader-circle"></div>
    </div>
    <div class="preloader preloader--bullets">
      <div class="preloader-bullet"></div>
      <div class="preloader-bullet"></div>
      <div class="preloader-bullet"></div>
    </div>
    <div class="preloader preloader--lines">
      <div class="preloader-line"></div>
      <div class="preloader-line"></div>
      <div class="preloader-line"></div>
      <div class="preloader-line"></div>
      <div class="preloader-line"></div>
    </div>
    <div class="preloader preloader--squares">
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
      <div class="preloader-square"></div>
    </div>
    <div class="preloader preloader--pulse"></div>
  </div>
</section>

<!-- Плеер -->

<%= player({loader, icon, picture}) %>

<%= footer({loader, picture}) %>