// Инициализация тайлвинд
@tailwind base;
@tailwind components;
@tailwind utilities;

// Базовые стили
@layer base {
  // @import "@fancyapps/ui/dist/fancybox/fancybox.css";
  // @import "swiper/css/bundle";
  // @import "air-datepicker/air-datepicker.css";
  @import "./ui-kit/fonts";
  @import "./ui-kit/basic";
  @import "./ui-kit/custom";
  @import "./ui-kit/waved";
  // @import "./ui-kit/movement";
}

// Компоненты
@layer components {
  // @import "./ui-kit/inverted";
  // @import "./ui-kit/postcards";
  // @import "./ui-kit/like";
  @import "./ui-kit/load";
  // @import "./ui-kit/button-glow";
  // @import "./ui-kit/button-bubles";
  // @import "./ui-kit/button-border";
  // @import "./ui-kit/quantity";
  // @import "./ui-kit/rating";
  // @import "./ui-kit/range";
}

// Обводка текста
.text-gradient {

  &,
  .dark &-dark {
    background             : radial-gradient(50% 50% at 50% 50%, theme("colors.white.DEFAULT") 0%, transparent 77.5%), theme("colors.grey.DEFAULT");
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke    : 1px theme("colors.white.DEFAULT / 40%");

    @apply bg-clip-text;
  }
}

// Тен
.shadow-screen {
  box-shadow: 0 0 0 100vw theme("colors.dark.DEFAULT / 50%");
}

// Опытные тренеры
.coaches {
  &__card {
    background-image: linear-gradient(114.33deg, theme("colors.white.DEFAULT / 6%") 0.04%, theme("colors.white.DEFAULT / 20%") 100.04%);
  }
}