// Инициализация тайлвинд
@tailwind base;
@tailwind components;
@tailwind utilities;

// Базовые стили
@layer base {
  @import "@fancyapps/ui/dist/fancybox/fancybox.css";
  @import "swiper/css/bundle";
  // @import "air-datepicker/air-datepicker.css";
  @import "./ui-kit/fonts";
  @import "./ui-kit/basic";
  @import "./ui-kit/custom";
  @import "./ui-kit/waved";
  // @import "./ui-kit/movement";
}

// Компоненты
@layer components {
  // @import "./ui-kit/inverted";
  // @import "./ui-kit/postcards";
  // @import "./ui-kit/like";
  @import "./ui-kit/load";
  // @import "./ui-kit/button-glow";
  // @import "./ui-kit/button-bubles";
  // @import "./ui-kit/button-border";
  // @import "./ui-kit/quantity";
  // @import "./ui-kit/rating";
  // @import "./ui-kit/range";
}

// Градиент
.gradient {
  &-text {

    &,
    .dark &-dark {
      background             : radial-gradient(50% 50% at 50% 50%, theme("colors.white.DEFAULT") 0%, transparent 77.5%), theme("colors.grey.DEFAULT");
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke    : 1px theme("colors.white.DEFAULT / 40%");

      @apply bg-clip-text;
    }
  }

  &-primary {
    background-image: linear-gradient(90deg, theme("colors.primary.dark") 28.08%, theme("colors.primary.DEFAULT") 100%);
  }

  &-coach {
    background-image: linear-gradient(114.33deg, theme("colors.white.DEFAULT / 6%") 0.04%, theme("colors.white.DEFAULT / 20%") 100.04%);
  }

  &-about {
    background-image: linear-gradient(243.43deg, rgba(144, 11, 58, 0.1) 67.4%, theme("colors.primary.dark / 60%") 100%), radial-gradient(121.32% 268.33% at 0% 0%, theme("colors.dark.DEFAULT / 50%") 36.99%, theme("colors.white.DEFAULT / 20%") 63.4%, transparent 100%);
  }

  &-card {
    background-image: linear-gradient(106.02deg, theme("colors.white.DEFAULT / 6%") -6.68%, theme("colors.white.DEFAULT / 3%") 104.06%);
  }
}

// Тень
.shadow-screen {
  box-shadow: 0 0 0 100vw theme("colors.dark.DEFAULT / 50%");
}

// Отзывы
.reviews {
  &-wrapper {
    transition-timing-function: linear !important;
  }

  &__content {
    background-image: linear-gradient(180deg, transparent 28.91%, theme("colors.dark.DEFAULT") 76.79%);
  }
}